
/* universal elements 
   (well, almost) */

body {
    background-color: teal;
    font-size: 100%;
}

.main {
    max-width: 95%;
    width: max(80%, 800px);
    margin: auto;
    text-align: center;
    font-family: "Verdana", "Georgia", sans-serif;
    
    flex-direction: column;
}

img.cap {
    max-width: min(25%, 100px);
    margin: 5px;
}


/* reusables 
   (elements, then classes) */

button {
    margin: 1px;
    margin-top: 4px;
    border-radius: 8px;
}

input {
    margin: 1px;
}

summary {
    user-select: none;
}

img.splash {
    max-width: min(100%, 500px);
    height: auto;
    margin: min(30px, 5%);
}

button.action {
    font-size: 1.2em;
    
    color: #330000;
    background-color: lightCyan;
    border-color: #ccffff;
}

button.big {
    font-size: 1.8em;
    padding: 6px;
    border-radius: 8px;
}

.toplevel, button.big {
    margin: 5px;
    padding: 10px;
    
    width: max-content;
    max-width: 100%;
    
    border-style: solid;
    border-radius: 10px;
}

.formtitle, .gametitle {
    margin: 5px;
}

.player {
    white-space: nowrap;
}

.gameissues {
    font-size: 0.8em;
    margin: 1px;
    color: navy;
}

/* flex arrangement */

.main, .flexrow, .flexcolumn, .flexrowrev {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.flexrow {
    flex-flow: row wrap;
}

.flexrowrev {
    flex-flow: row-reverse wrap;
}

.flexcolumn {
    flex-flow: column nowrap;
}


/* color schemes */

.primary {
    background-color: tomato;   
    border-color: #330800;
}

.secondary {
    background-color: burlyWood;
    border-color: #8c6026;
} 

.game {
    background-color: darkSeaGreen;
    border-color: #609f60;
}

button.game:hover {  
    background-color: #9fc69f;
    border-color: darkSeaGreen;
}

.issue {
    background-color: fireBrick;
    border-color: #811818;
}

button.issue:hover {
    background-color: #c12525;
    border-color: fireBrick;
}


/* game chooser page */

.weight {
    font-size: 1.8em;
    margin: 2px;
}